# [.gitignore]

# 파이썬 가상환경 및 캐시
venv/
.venv/
**/venv/
**/__pycache__/
*.pyc

# 노드 패키지 (모든 하위 폴더 포함)
**/node_modules/
package-lock.json

# 로그 파일
*.log

# OS 설정 파일
.DS_Store
Thumbs.db

# IDE 설정
.vscode/
.idea/